// MARGINS
.mr-0{
  margin-right: 0 !important;
}
.ml-0{
  margin-left: 0 !important;
}

.mt-0{
  margin-top: 0 !important;
}

.mb-0{
  margin-bottom: 0 !important;
}

.m-auto{
  margin: auto;
}

// PADDINGS
.pr-0{
  padding-right: 0 !important;
}

.pl-0{
  padding-left: 0 !important;
}

.pt-0{
  padding-top: 0 !important;
}
.pb-0{
  padding-bottom: 0 !important;
}

