// BULMA RIGHT HERE
$primary: #F8AA27;
$navbar-background-color: transparent;
$navbar-height : 98px;
$footer-background-color:#2B2B2B;
$control-radius: 0;
@import "../plugins/bulma/sass/utilities/_all";
@import "../plugins/bulma/sass/base/_all";

@import "../plugins/bulma/sass/elements/container";
@import "../plugins/bulma/sass/components/_all";
@import "../plugins/bulma/sass/elements/_all";
@import "../plugins/bulma/sass/layout/_all";
@import "../plugins/bulma/sass/grid/columns";