/* line 2, /home/jide/Documents/repos/duplex/assets/scss/base/_base.scss */
.mr-0 {
  margin-right: 0 !important;
}

/* line 5, /home/jide/Documents/repos/duplex/assets/scss/base/_base.scss */
.ml-0 {
  margin-left: 0 !important;
}

/* line 9, /home/jide/Documents/repos/duplex/assets/scss/base/_base.scss */
.mt-0 {
  margin-top: 0 !important;
}

/* line 13, /home/jide/Documents/repos/duplex/assets/scss/base/_base.scss */
.mb-0 {
  margin-bottom: 0 !important;
}

/* line 17, /home/jide/Documents/repos/duplex/assets/scss/base/_base.scss */
.m-auto {
  margin: auto;
}

/* line 22, /home/jide/Documents/repos/duplex/assets/scss/base/_base.scss */
.pr-0 {
  padding-right: 0 !important;
}

/* line 26, /home/jide/Documents/repos/duplex/assets/scss/base/_base.scss */
.pl-0 {
  padding-left: 0 !important;
}

/* line 30, /home/jide/Documents/repos/duplex/assets/scss/base/_base.scss */
.pt-0 {
  padding-top: 0 !important;
}

/* line 33, /home/jide/Documents/repos/duplex/assets/scss/base/_base.scss */
.pb-0 {
  padding-bottom: 0 !important;
}

/* line 1, /home/jide/Documents/repos/duplex/assets/scss/modules/_logo.scss */
.logo {
  border: 2px solid #FFFFFF;
  font-size: 30px;
  font-weight: 900;
  line-height: 20px;
  padding: 15px;
  max-width: 150px;
}

/* line 5, /home/jide/Documents/repos/duplex/assets/scss/layout/_header.scss */
.header--bg-dark {
  background-color: #2B2B2B;
}

/* line 9, /home/jide/Documents/repos/duplex/assets/scss/layout/_header.scss */
.level {
  height: 50px;
}

/* line 11, /home/jide/Documents/repos/duplex/assets/scss/layout/_header.scss */
.level a {
  color: white;
  font-weight: 500;
  text-decoration: none;
}

/* line 17, /home/jide/Documents/repos/duplex/assets/scss/layout/_header.scss */
.level .level-left a {
  align-items: center;
  font-size: 11px;
  display: flex;
}

/* line 22, /home/jide/Documents/repos/duplex/assets/scss/layout/_header.scss */
.level .level-left [class*='fa-'] {
  color: #F8AA27;
  font-size: 17px;
  width: 30px;
}

/* line 29, /home/jide/Documents/repos/duplex/assets/scss/layout/_header.scss */
.level .level-right a {
  font-size: 16px;
  margin-right: 20px;
}

/* line 32, /home/jide/Documents/repos/duplex/assets/scss/layout/_header.scss */
.level .level-right a:hover {
  color: #F8AA27;
}

/* line 39, /home/jide/Documents/repos/duplex/assets/scss/layout/_header.scss */
.navbar-item {
  color: #FFFFFF;
}

/* line 41, /home/jide/Documents/repos/duplex/assets/scss/layout/_header.scss */
.navbar-item:hover {
  color: #F8AA27 !important;
}

/* line 46, /home/jide/Documents/repos/duplex/assets/scss/layout/_header.scss */
.navbar-burger {
  color: #FFFFFF;
}

/* line 1, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer {
  padding: 80px 0 10px 0 !important;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* line 8, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__top {
  padding-bottom: 70px;
}

/* line 12, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__logo-wrap {
  margin-bottom: 12px;
}

/* line 14, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__logo-wrap a {
  color: #FFF;
  display: block;
}

/* line 21, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__title {
  height: 40px;
}

/* line 24, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__head {
  font-size: 18px;
  color: #FFF;
  text-transform: capitalize;
  line-height: normal !important;
}

/* line 30, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__text {
  color: #B9B9B9;
  font-size: 12px;
  line-height: 25px;
  margin-bottom: 10px;
}

/* line 36, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__text-link {
  color: #B9B9B9;
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
}

/* line 41, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__text-link:hover {
  color: #F8AA27;
}

/* line 45, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__date-time {
  color: #959595;
  font-size: 13px;
  font-style: italic;
  margin-top: -4px;
}

/* line 51, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__text-contact {
  color: #B9B9B9;
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 15px;
}

/* line 57, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__text-contact span {
  color: #F8AA27;
  font-size: 18px;
  margin: 10px 10px 0 1px;
}

/* line 66, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__form input.input {
  border: 0;
  box-shadow: none;
  color: #5C5C5C;
  font-size: 16px;
  font-style: italic;
  height: 45px;
  outline: 0;
  padding-right: 55px;
}

/* line 76, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__form button {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  outline: 0;
  width: 55px;
}

/* line 88, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__thumbnail.footer__thumbnail-w {
  width: 60px;
  height: 55px;
}

/* line 92, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__thumbnail img {
  width: 100%;
}

/* line 97, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__gallery {
  padding: 12px 0;
}

/* line 106, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.level--footer {
  height: 60px;
}

/*# sourceMappingURL=../css/main.map */