/* line 2, /home/jide/Documents/repos/duplex/assets/scss/base/_base.scss */
.mr-0 {
  margin-right: 0 !important;
}

/* line 5, /home/jide/Documents/repos/duplex/assets/scss/base/_base.scss */
.ml-0 {
  margin-left: 0 !important;
}

/* line 9, /home/jide/Documents/repos/duplex/assets/scss/base/_base.scss */
.mt-0 {
  margin-top: 0 !important;
}

/* line 13, /home/jide/Documents/repos/duplex/assets/scss/base/_base.scss */
.mb-0 {
  margin-bottom: 0 !important;
}

/* line 17, /home/jide/Documents/repos/duplex/assets/scss/base/_base.scss */
.m-auto {
  margin: auto;
}

/* line 22, /home/jide/Documents/repos/duplex/assets/scss/base/_base.scss */
.pr-0 {
  padding-right: 0 !important;
}

/* line 26, /home/jide/Documents/repos/duplex/assets/scss/base/_base.scss */
.pl-0 {
  padding-left: 0 !important;
}

/* line 30, /home/jide/Documents/repos/duplex/assets/scss/base/_base.scss */
.pt-0 {
  padding-top: 0 !important;
}

/* line 33, /home/jide/Documents/repos/duplex/assets/scss/base/_base.scss */
.pb-0 {
  padding-bottom: 0 !important;
}

/* line 5, /home/jide/Documents/repos/duplex/assets/scss/modules/_logo.scss */
.logo {
  border: 2px solid #FFFFFF;
  font-size: 30px;
  font-weight: 900;
  line-height: 20px;
  padding: 15px;
  max-width: 150px;
}

/* line 1, /home/jide/Documents/repos/duplex/assets/scss/layout/_header.scss */
.logo-wrap, .level--custom a, .navbar-item {
  color: #FFFFFF;
}

/* line 3, /home/jide/Documents/repos/duplex/assets/scss/layout/_header.scss */
.logo-wrap:hover, .level--custom a:hover, .navbar-item:hover {
  color: #F8AA27 !important;
}

/* line 8, /home/jide/Documents/repos/duplex/assets/scss/layout/_header.scss */
.header--bg-dark {
  background-color: #2B2B2B;
}

/* line 13, /home/jide/Documents/repos/duplex/assets/scss/layout/_header.scss */
.level--custom a {
  font-size: 16px;
  margin-right: 20px;
}

/* line 25, /home/jide/Documents/repos/duplex/assets/scss/layout/_header.scss */
.level.level--header {
  height: 50px;
}

/* line 29, /home/jide/Documents/repos/duplex/assets/scss/layout/_header.scss */
.level a {
  color: white;
  font-weight: 500;
  text-decoration: none;
}

/* line 35, /home/jide/Documents/repos/duplex/assets/scss/layout/_header.scss */
.level .level-left a {
  align-items: center;
  font-size: 11px;
  display: flex;
}

/* line 40, /home/jide/Documents/repos/duplex/assets/scss/layout/_header.scss */
.level .level-left [class*='fa-'] {
  color: #F8AA27;
  font-size: 17px;
  width: 30px;
}

/* line 56, /home/jide/Documents/repos/duplex/assets/scss/layout/_header.scss */
.navbar-burger {
  color: #FFFFFF;
}

.nav-space .small-icon{
  width:8px;
  height:8px;
  border:1px solid #e67e22;
  transform:rotate(45deg);
  margin-top: 47px;
}

.nav-space{
  display: flex !important;
  justify-content: space-between !important;
  align-content: center;
}


.banner{
  width:100%;
  height:150px;
  background-color: #EEE;

}
.hero{
  align-items: center;
  padding-top: 15px;
}
.hero h5{
  margin-top:10px;
}
.hero h1:after{
  
  border-bottom: 2px solid #e67e22;
  width:15px;
  display:block;
  content:" ";
  margin: 0 auto;
  margin-top: 20px;
}
.banner__below{
  width:100%;
  height:100px;
  
}
.banner__below h5{
  color:#e67e22;
  position: absolute;
  margin-top: 64px;
  left:46%;

}
.banner__texts h2{
  position:absolute;
  left:45%;
}
.banner__texts h2:after{
  border-bottom: 2px solid #e67e22;
  width:15px;
  display: block;
  content: " ";
  margin:0 auto;
  margin-top: 10px;

}
.banner__texts p{
  padding:60px 130px; 
}

.box-33{
  height:200px;
  width:100%;
  background-color: #EEE;
  
}

.box-80{
  height: 420px;
  width:100%;
  background-color: #EEE;

}
.box-20{
  height:200px;
  width: 100%;
  background-color: #EEE;
}
.box-70{
  height:420px;
  width:100%;
  background-color:#EEE;
}
.actual__image{
  height:200px;
  width:100%;
}
.actual__emage{
  height:420px;
  width:100%;
}

/* line 1, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer {
  padding: 80px 0 10px 0 !important;
}

/* line 8, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__top {
  padding-bottom: 70px;
}

/* line 12, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__logo-wrap {
  margin-bottom: 12px;
}

/* line 14, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__logo-wrap a {
  color: #FFF;
  display: block;
}

/* line 21, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__title {
  height: 40px;
}

/* line 24, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__head {
  font-size: 18px;
  color: #FFF;
  text-transform: capitalize;
  line-height: normal !important;
}
.footer__title h4:after{
  
  border-bottom: 2px solid #e67e22;
  width:15px;
  display:block;
  content:" ";
  margin-top: 5px;
}

/* line 30, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__text {
  color: #B9B9B9;
  font-size: 12px;
  line-height: 25px;
  margin-bottom: 10px;
}

/* line 36, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__text-link {
  color: #B9B9B9;
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
}

/* line 41, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__text-link:hover {
  color: #F8AA27;
}

/* line 45, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__date-time {
  color: #959595;
  font-size: 13px;
  font-style: italic;
  margin-top: -4px;
}

/* line 51, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__text-contact {
  color: #B9B9B9;
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 15px;
}

/* line 57, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__text-contact span {
  color: #F8AA27;
  font-size: 18px;
  margin: 10px 10px 0 1px;
}

/* line 66, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__form input.input {
  border: 0;
  box-shadow: none;
  color: #5C5C5C;
  font-size: 16px;
  font-style: italic;
  height: 45px;
  outline: 0;
  padding-right: 55px;
}

/* line 76, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__form button {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  outline: 0;
  width: 55px;
}

/* line 88, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__thumbnail.footer__thumbnail-w {
  width: 60px;
  height: 55px;
}

/* line 92, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__thumbnail img {
  width: 100%;
}

/* line 97, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__gallery {
  padding: 12px 0;
}

@media (min-width: 771px) {
  /* line 106, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
  .level--footer {
    height: 60px;
  }
}

/*# sourceMappingURL=../css/main.map */