.navbar__below{

  justify-content: center;
}

.navigation__list{
  list-style-type: none;
}
.navigation__list li{
  display: inline-block;
  padding:0 15px;
}
.navigation__list a{
  color: black;
  text-decoration: none;
}
.navigation__list a:hover{
  border-bottom: 2px solid black;
  margin-bottom: 15px;
}

.box-33{
  height:200px;
  width:100%;
  background-color: #EEE;
  
}

.box-80{
  height: 420px;
  width:100%;
  background-color: #EEE;

}
.box-20{
  height:200px;
  width: 100%;
  background-color: #EEE;
}
.box-70{
  height:420px;
  width:100%;
  background-color:#EEE;
}
.actual__image{
  height:200px;
  width:100%;
}
.actual__emage{
  height:420px;
  width:100%;
}