/* line 2, /home/jide/Documents/repos/duplex/assets/scss/base/_base.scss */
.mr-0 {
  margin-right: 0 !important;
}

/* line 5, /home/jide/Documents/repos/duplex/assets/scss/base/_base.scss */
.ml-0 {
  margin-left: 0 !important;
}

/* line 9, /home/jide/Documents/repos/duplex/assets/scss/base/_base.scss */
.mt-0 {
  margin-top: 0 !important;
}

/* line 13, /home/jide/Documents/repos/duplex/assets/scss/base/_base.scss */
.mb-0 {
  margin-bottom: 0 !important;
}

/* line 17, /home/jide/Documents/repos/duplex/assets/scss/base/_base.scss */
.m-auto {
  margin: auto;
}

/* line 22, /home/jide/Documents/repos/duplex/assets/scss/base/_base.scss */
.pr-0 {
  padding-right: 0 !important;
}

/* line 26, /home/jide/Documents/repos/duplex/assets/scss/base/_base.scss */
.pl-0 {
  padding-left: 0 !important;
}

/* line 30, /home/jide/Documents/repos/duplex/assets/scss/base/_base.scss */
.pt-0 {
  padding-top: 0 !important;
}

/* line 33, /home/jide/Documents/repos/duplex/assets/scss/base/_base.scss */
.pb-0 {
  padding-bottom: 0 !important;
}

/* line 5, /home/jide/Documents/repos/duplex/assets/scss/modules/_logo.scss */
.logo {
  border: 2px solid #FFFFFF;
  font-size: 30px;
  font-weight: 900;
  line-height: 20px;
  padding: 15px;
  max-width: 150px;
}

/* line 1, /home/jide/Documents/repos/duplex/assets/scss/layout/_header.scss */
.logo-wrap, .level--custom a, .navbar-item {
  color: #FFFFFF;
}

/* line 3, /home/jide/Documents/repos/duplex/assets/scss/layout/_header.scss */
.logo-wrap:hover, .level--custom a:hover, .navbar-item:hover {
  color: #F8AA27 !important;
}

/* line 8, /home/jide/Documents/repos/duplex/assets/scss/layout/_header.scss */
.header--bg-dark {
  background-color: #2B2B2B;
}

/* line 13, /home/jide/Documents/repos/duplex/assets/scss/layout/_header.scss */
.level--custom a {
  font-size: 16px;
  margin-right: 20px;
}

/* line 25, /home/jide/Documents/repos/duplex/assets/scss/layout/_header.scss */
.level.level--header {
  height: 50px;
}

/* line 29, /home/jide/Documents/repos/duplex/assets/scss/layout/_header.scss */
.level a {
  color: white;
  font-weight: 500;
  text-decoration: none;
}

/* line 35, /home/jide/Documents/repos/duplex/assets/scss/layout/_header.scss */
.level .level-left a {
  align-items: center;
  font-size: 11px;
  display: flex;
}

/* line 40, /home/jide/Documents/repos/duplex/assets/scss/layout/_header.scss */
.level .level-left [class*='fa-'] {
  color: #F8AA27;
  font-size: 17px;
  width: 30px;
}

/* line 56, /home/jide/Documents/repos/duplex/assets/scss/layout/_header.scss */
.navbar-burger {
  color: #FFFFFF;
}

/* line 1, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer {
  padding: 80px 0 10px 0 !important;
}

/* line 8, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__top {
  padding-bottom: 70px;
}

/* line 12, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__logo-wrap {
  margin-bottom: 12px;
}

/* line 14, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__logo-wrap a {
  color: #FFF;
  display: block;
}

/* line 21, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__title {
  height: 40px;
}

/* line 24, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__head {
  font-size: 18px;
  color: #FFF;
  text-transform: capitalize;
  line-height: normal !important;
}

/* line 30, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__text {
  color: #B9B9B9;
  font-size: 12px;
  line-height: 25px;
  margin-bottom: 10px;
}

/* line 36, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__text-link {
  color: #B9B9B9;
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
}

/* line 41, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__text-link:hover {
  color: #F8AA27;
}

/* line 45, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__date-time {
  color: #959595;
  font-size: 13px;
  font-style: italic;
  margin-top: -4px;
}

/* line 51, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__text-contact {
  color: #B9B9B9;
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 15px;
}

/* line 57, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__text-contact span {
  color: #F8AA27;
  font-size: 18px;
  margin: 10px 10px 0 1px;
}

/* line 66, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__form input.input {
  border: 0;
  box-shadow: none;
  color: #5C5C5C;
  font-size: 16px;
  font-style: italic;
  height: 45px;
  outline: 0;
  padding-right: 55px;
}

/* line 76, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__form button {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  outline: 0;
  width: 55px;
}

/* line 88, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__thumbnail.footer__thumbnail-w {
  width: 60px;
  height: 55px;
}

/* line 92, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__thumbnail img {
  width: 100%;
}

/* line 97, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
.footer__contents .footer__gallery {
  padding: 12px 0;
}

@media (min-width: 771px) {
  /* line 106, /home/jide/Documents/repos/duplex/assets/scss/layout/_footer.scss */
  .level--footer {
    height: 60px;
  }
}
/* header > div.heading {
  height: 200px;
  background: url('img/1-min.jpeg');
  background: cover;
} */

/*# sourceMappingURL=../css/main.map */
.main_container{
  height: 300px;
  width: 100%;
  background-color: #F8AA27;
}
.title{
  font-size: 30px;
  color: white;
  line-height: 45px;
  font-weight: 400;
  
  margin-top: -180px;
  margin-left: 600px;


}
.column10{
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 60px;
  margin-right: 60px;
  width: 50%;
  height: 100%;
}

.column10 h1, .column10 h3{
    font-weight: 700;
    font-size: 20px;
}
.column10 h3, .column10 p{
  margin-top: 20px;
}
.column10 h3{
  font-size: 15px;
  font-weight: 500;
}

[class*='columns']{
	padding: 0 -10px; 
}
.column15{
  border-radius: 0px;
 /* padding: 1.25rem 0; */
  position: relative;
  /* margin-top: 80px; */
  margin-bottom: 30px;
  /* margin-left: 10px;
  margin-right: 10px; */
  width: 25%;
  height: 50%;
  background-color: #222;
  display: block;
  color: black;

}
.column16{
  background-color: black;
  border-radius: 0px;
  /* padding: 1.25rem 0; */
   position: relative;
   /* margin-top: 80px; */
   margin-bottom: 30px;
   /* margin-left: 10px;
   margin-right: 10px; */
   width: 25%;
   height: 50%;
   /* background-color: antiquewhite; */
   display: block;
   color: black;
}
.column17{
  /* background-color: black; */
  border-radius: 0px;
  /* padding: 1.25rem 0; */
   position: relative;
   /* margin-top: 80px; */
   margin-bottom: 30px;
   /* margin-left: 10px;
   margin-right: 10px; */
   width: 25%;
   height: 200%;
   background-color: #222;
   display: block;
   color: black;
}

.column18{
  background-color: black;
  border-radius: 0px;
  /* padding: 1.25rem 0; */
   position: relative;
   /* margin-top: 80px; */
   margin-bottom: 30px;
   /* margin-left: 10px;
   margin-right: 10px; */
   width: 25%;
   height: 50%;
   /* background-color: antiquewhite; */
   display: block;
   color: black;

 
}
.bd-notification.is-success{
  /* background-color: black; */
  color: #fff;
  padding: 100px;
}



.fa2{
  font-size: 10px;
  /* color: #F8AA27; */
}
.Strong{
  font-size: 20px;
  color:  #F8AA27;
  line-height: 20px;
  font-weight: 50px;
  text-align: center;
  /* font-weight: SOLID; */
  

}
.Graceful{
  font-size: 50px;
  color:  black;
  line-height: 20px;
  font-weight: 200px;
  text-align: center;
  padding: 50px;
  

}
.main{
  text-align: center;
  padding-bottom: 50px;
  font-size: 20px;
  font-weight: 40px;
  
}
.column12{
  border-radius: 0px;
 /* padding: 1.25rem 0; */
  position: relative;
  /* margin-top: 80px; */
  margin-bottom: 110px;
  /* margin-left: 10px;
  margin-right: 10px; */
  width: 25%;
  height: 200px;
  /* background-color: #222; */
  display: block;
  background-color: blueviolet;
  /* padding: 50px; */
  border-radius: 0px;
  margin-left: 30px;
  
  
  /* margin-left: 5px;
  margin-right: 5px; */

}
[class*='columns1']{
  padding: 0 -10px;
  /* padding-right: 40px;
  padding-left: 80px;  */
}
#eat {
  margin-left: 150px;
 
 
}
#spoon {
  margin-right: 50px;
}
.Weak{
  font-size: 20px;
  color:  black;
  line-height: 20px;
  font-weight: 20px;
  text-align: center;
}

p1{
  color:  #F8AA27;
  text-align: center;
  font-size: 15px;
  font-weight: 10px;
 
  
 
  
}


/* .column{
  width: 100px;
  height: 200%;
  background-color: blanchedalmond;
  margin-bottom: 10px;

} */

